<div class="home-container">
    <div style="position: relative;">
        <img src="assets/byd.png" alt="Logo" />
        <h5>Our Available Destinations</h5>
        <div class="carousel-container">
            <div class="scroll-wrapper">
                <div class="destinations">
                    <div class="destination-item" *ngFor="let item of destinations">
                        <img [src]="item.icon" class="destination-img" alt="destination">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5>Our Trending Destinations</h5>
    <div class="ourdestinations">
      <div class="card" *ngFor="let item of trendingDestinations">
        <div
          class="card-img-top bg-image"
          [style.backgroundImage]="'url(' + item.img + ')'"
        >
        <div class="overlay">
          <div class="overlay-text">{{ item.name }}</div>
          <div class="card-body">
            <button class="btn btn-primary">View More</button>
          </div>
        </div>
        </div>

      </div>

    </div>

</div>
