<div class="footer">
<div class="footer-top">
  <img src="assets/bydlogo.png" alt="logo" />
  <div class="contactinfo">
    <h2>Contact Info</h2>
      <div>
        <i class="fa-solid fa-envelope" style="color: #ef4823;"></i>
        <h5>Email Id</h5>
      </div>
      <div>
        <p>bydtravelsindia&#64;gmail.com</p>
      </div>
      <div>
        <i class="fa-solid fa-phone" style="color: #ef4823;"></i>
        <h5>Phone Number</h5>
        </div>
        <div>
        <p>+919999996666</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot" style="color: #ef4823;"></i>
        <h5>Head Office</h5>
        </div>
        <div>
          <p>MG Road Suryapet, Telangana - 508213, India</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot" style="color: #ef4823;"></i>
        <h5>Branch Office</h5>
        </div>
        <div>
          <p>Bharath Nagar Siddipet, Telangana - 502103, India</p>
      </div>
  </div>
  <div class="socialmedia">
    <h2>Social Media</h2>
    <div>
    <div>
    <i class="fa-brands fa-instagram" style="color: #ef4823;"></i>
  </div>
  <div>
    <i class="fa-brands fa-facebook" style="color: #ef4823;"></i>
  </div>
</div>
  </div>
</div>
<div class="footer-bottom">
<div><h5>©2025. All Rights Reserved by BYDTravels</h5></div>
<div><h5>Company Policies</h5>
  <h5>Terms & Conditions</h5>
</div>
</div>
</div>
